{% extends 'layout.html.twig' %}

{% block content %}
    <section class="row tile-row">
        <article class="col-md-4 tile tile-col-4 tile-teal">
            <a class="tile-link" href="{{ path('frontpage') }}">
                <div class="tile-icon-holder">
                    <i class="fa fa-home fa-4x"></i>
                </div>
                <div class="text-holder">
                    <h4>Volver</h4>
                    <p>Mostrar el menú principal</p>
                </div>
            </a>
        </article>
    </section>
{% endblock %}
