{% trans_default_domain 'enumeration' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}

{% block content %}
    <div class="alert alert-warning">{{ 'prompt.delete_confirm'|trans|nl2br }}</div>
    <form method="post">
        {{ m.submit_button('delete', 'form.delete'|trans, 'trash', 'btn-danger') }}
        {{ m.link_button(path('admin_enumeration_form', {'enumeration': enumeration.id}), 'form.delete_back'|trans, 'arrow-left', 'btn-default') }}
    </form>
{% endblock %}
