{% trans_default_domain 'admin' %}
{% extends ':admin:manage_users_partial.html.twig' %}

{% block buttons %}
    <a href="" class="btn btn-success  col-xs-12 col-sm-4"><i class="fa fa-check"></i> {{ 'form.confirm' | trans }}</a>
    <a href="" class="btn btn-info col-xs-12 col-sm-4"><i class="fa fa-send"></i> {{ 'form.resend' | trans }}</a>
    <a href="" class="btn btn-danger col-xs-12 col-sm-4"><i class="fa fa-trash"></i> {{ 'form.trash' | trans }}</a>
{% endblock %}
