{% trans_default_domain 'admin' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}
{% block content %}
    <h2>{{ 'user.title'|trans }}</h2>
    {% include ':admin:manage_users_partial.html.twig' with {'elements': pagination } %}
    {{ m.link_button(path('admin_menu'), 'form.back'|trans, 'arrow-left', 'btn-default') }}
    {{ m.link_button('', 'user.invite'|trans, 'paper-plane', 'btn-success') }}
{% endblock %}
